<aside class="floating-contact" aria-label="联系老九">
	<details>
		<summary>联系老九</summary>
		<div class="floating-contact-body">
			<div class="floating-contact-qr">
				<div class="wechat-qr">
					<img src="/contact/wechat-laojiu.jpg" alt="老九微信二维码" />
				</div>
				<strong>老九</strong>
			</div>
			<div class="floating-contact-list">
				<a href="mailto:13812313840@163.com">
					<span>邮箱</span>
					<strong>13812313840@163.com</strong>
				</a>
				<a href="tel:13812313840">
					<span>手机</span>
					<strong>13812313840</strong>
				</a>
				<div>
					<span>微信</span>
					<strong>13812313840</strong>
				</div>
			</div>
		</div>
	</details>
</aside>
